*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    background-color: wheat;
}
h2{
    text-align: left;
}
body{
    background-color: rgb(248, 221, 246);
    text-align: center;
}
img{
    height: auto;
    width: 450px;
}
li{
    text-align: left;
    
}
.cen{
    text-align: center;
}
ul li img{
    width: 100px;
    height: auto;
}
.i-li{
    display: inline-flex;
    margin: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
}
a:hover img{
    width: 150px;
    height: auto;
}